/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*BEGIN STYLE GUIDE*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* The designs were created to the following widths 

 Mobile- 375px 
 - Desktop: 1440px 

### Colors

### Primary
- Nutmeg: hsl(14, 45%, 36%)
- Dark Raspberry: hsl(332, 51%, 32%)

### Neutral
- White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)

## Typography
- Font size (paragraph): 16px

### Fonts
- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700
*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*END STYLE GUIDE*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.container {
  display: flex;
  background-color: hsl(30, 54%, 90%);
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 736px;
  margin: auto;
  border-radius: 24px;
  padding: 40px;
}

.card_img {
  align-items: center;
  display: block;
  width: 100%;
  object-fit: fill;
  height: 300px;
  border-radius: 12px;
}

.introduction {
  margin-top: 40px;
}

.introduction h1 {
  font-size: 40px;
  color: hsl(24, 5%, 18%);
  font-family: Young Serif;
  font-weight: 700;
}

.introduction p {
  font-family: Outfit;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  color: hsl(30, 10%, 34%);
}

.preparation {
  margin-top: 32px;
  background-color: hsl(330, 100%, 98%);
  padding: 28px;
  color: hsl(30, 10%, 34%);
  border-radius: 12px;
}

.preparation li:last-child {
  margin-bottom: 0px;
}

.preparation h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-family: Outfit;
  color: hsl(332, 51%, 32%);
}

.preparation li {
  list-style-position: inside;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  height: 24px;
  margin: 8px;
}

.ingredients {
  margin-top: 32px;
  padding-bottom: 24px;
  color: hsl(30, 10%, 34%);
  border-bottom: 1px solid;
  border-color: #e6e0d4;
}

.ingredients li:last-child {
  margin-bottom: 0px;
}

.ingredients h2 {
  color: hsl(14, 45%, 36%);
  font-size: 28px;
  font-family: Young Serif;
  font-weight: 400;
  margin-bottom: 24px;
}

.ingredients li {
  height: 24px;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  text-indent: 5px;
  list-style-position: inside;
  padding-left: 8px;
  margin-bottom: 8px;
}

.instructions {
  margin-top: 32px;
  color: hsl(30, 10%, 34%);
  padding-bottom: 32px;
  border-bottom: 1px solid;
  border-color: #e6e0d4;
}

.instructions h2 {
  color: hsl(14, 45%, 36%);
  font-size: 28px;
  font-family: Young Serif;
  font-weight: 400;
  margin-bottom: 24px;
}

.instructions li {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: hsl(30, 10%, 34%);
  margin-bottom: 8px;
}

.instructions ol {
  padding-left: 19px;
}

.instructions li:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.nutrition {
  margin-top: 32px;
  color: hsl(30, 10%, 34%);
}

.nutrition p {
  margin-bottom: 24px;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.nutrition h2 {
  color: hsl(14, 45%, 36%);
  font-size: 28px;
  font-family: Young Serif;
  font-weight: 400;
  margin-bottom: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 0.1rem solid lightgray;
  padding: 1rem 1.5rem;
  width: 50%;
}

td:nth-child(1) {
  padding-left: 3rem;
}

td:last-child {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.rm-border {
  border-bottom: none;
}

.attribution {
  text-align: center;
  margin-top: 40px;
}

/* When the browser is at least 600px and below */
@media screen and (max-width: 600px) {
  .card_img {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

